{% extends "base.html" %}
{% block content %}
  <h2>Register</h2>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.username.label }} {{ form.username() }}</div>
    <div class="mb-3">{{ form.email.label }} {{ form.email() }}</div>
    <div class="mb-3">{{ form.password.label }} {{ form.password() }}</div>
    <div class="mb-3">{{ form.password2.label }} {{ form.password2() }}</div>
    <div class="mb-3">{{ form.submit() }}</div>
  </form>
{% endblock %}
